Homework 1.zip
Homework 2.zip
Homework 3.zip
jim-ohman-hw1.pdf
images
__pycache__
Homework_2__code_.pdf
jim-ohman-hw2.pdf
3-dimensional Boolean functions
old code
old old code
jim-ohman-hw3.pdf
images
models
old_code
results
PATH_TO_STORE_TESTSET
PATH_TO_STORE_TRAINSET
